@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

     <div class="nav-menu-group">
        <div class="menu-tile-large">
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </div>
        <div>
            @Html.ActionLink("New poll", "NewPoll", "Poll", null, new { })
        </div>
        <div><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></div>
    </div>
    }
}
else
{
    <div class="nav-menu-group">
        <div>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"})</div>
        <div>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"})</div>
    </div>
}
