<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    @Html.ActionLink("Poller", "Index", "Home")
                </li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Polls", "Index", "Poll")</li>
                <li>@Html.ActionLink("Tests", "Index", "Test")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a id="btn-toggle-side-menu" class="glyphicon glyphicon-menu-hamburger" aria-label="Menu"></a>
            @RenderBody()
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        var menuBtn = $("#btn-toggle-side-menu"),
            width = $(window).width();
        if(width > 768){
            menuBtn.toggleClass("toggled");
        }

        menuBtn.click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            menuBtn.toggleClass("toggled");
        });

        $(window).bind('resize', function (e) {
            window.resizeEvt;
            $(window).resize(function () {
                clearTimeout(window.resizeEvt);
                window.resizeEvt = setTimeout(function () {
                    if (width < 768 && $(window).width() > 768) {
                        menuBtn.toggleClass("toggled");
                        width = $(window).width();
                    } 
                }, 250);
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
